vagrant/
*.pyc
.idea
reddwarf_test.sqlite
.venv
.project
.pydevproject
.settings
run_tests.log
guest-agent-files.txt
reddwarf.egg*
reddwarf/vcsversion.py
bin/reddwarf.conf
*py*.egg
.coverage
covhtml/
.DS_Store
.tox
cover
.cache
*.swp
nosetests.xml
ChangeLog
requirements.txt
